<div>{% if heading_title %}

  <h2>{{ heading_title }}</h2>
  	<!--
 	<h2>{{ link }}</h2>
  	<h2>{{ beforename }}</h2>
	-->

  <p><iframe width="100%"  src="{{ link }}" frameborder="0" allowfullscreen=""></iframe></p>
  <p><iframe width="100%"  src="{{ beforename }}" frameborder="0" allowfullscreen=""></iframe></p>


	<!-- 
  		<iframe width="560" height="315" src="https://www.youtube.com/embed/d89RHNQogO0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	--> 


	<!--  
 		 <h2>{{ afterlink }}</h2>
	-->
   

  {% endif %}
  {{ html }}</div>
